<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">You have taken</h1>
    <p class="lead text-center"
      ><%= @payment_count %> <%= @payments_count == 1 ? "payment" : "payments" %>, totalling £<%= "%.2f" % @payment_total %>, from <%= @customer_count %> <%= @customer_count == 1 ? "customer" : "customers" %></p>
    <br />
    <p class="text-center"><small><a href="/logout">Log out</a></small></p>
  </div>
</div>
